body {
	margin: 0;
}

#header {
	height: 30px;
	margin-bottom: 5px
}
.menu {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	font-family: sans-serif;
	padding-top: 10px;
	padding-bottom: 12px;
	font-size: .70em;
	text-transform: uppercase;

}
.menu:hover {
	background-color: black;
	color: white;
	
}
#logo {
	float: left;
	margin-bottom: 20px;
	margin-left: 206px;
}
#agency {
	height: 25px;
	width: auto;
	margin 0;
	padding-top: 5px;
}
nav {
	float: right;
	margin-right: 200px;
}
#background {
	background-image: url("images/background.jpg");
	clear: right;
	padding-bottom: 1000px;
}
span {
	color: #f65657;
}
#work {
	display: inline-block;
	color: #fff;
	margin-bottom: 20px;
	margin-left: -152px;
	margin-top: 30px;
	font-family: sans-serif;
}
#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
figure {
	display: inline-block;
	margin: 8px;
}

img {
	width: 250px;
}
figcaption {
	text-align: center;
	background-color: white;
	margin-top: -4px;
	color: #c5c5c5;
	height: 25px;
	padding-top: 12px;
	font-family: sans-serif;
	font-size: 12px;
}